<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pointclickcare.lish.clock">

    <permission
        android:name="pointclickcare.lish.clock.PROVIDER_PERMISSION"
        android:description="@string/desc_provider_permission"
        android:label="Provider permission for security"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="pointclickcare.lish.clock.PROVIDER_PERMISSION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Clock.Time.AddClockActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <provider
            android:name=".ui.Clock.Time.ClockContentProvider"
            android:authorities="pointclickcare.lish.clock.ui.Clock.Time.ClockContentProvider"
            android:enabled="true"
            android:exported="true"
            android:permission="pointclickcare.lish.clock.PROVIDER_PERMISSION" />
    </application>

</manifest>